body {
    margin: 0;
    padding: 0;
    background-color: #eff1f1;
}

.containerMargin {
    margin-top: 40px;
    padding-top: 15px;
}

.bodyBackground {
    background: #237cbf;
    min-height: 100vh;
}